@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Font */
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  /* Palette */
  --color-primary: theme(--color-amber-300);
  --color-primary-hover: theme(--color-amber-400);
  --color-secondary: theme(--color-lime-700);

  --color-app-bg: theme(--color-gray-100);
  --color-card-bg: theme(--color-white);

  --color-text-main: theme(--color-slate-950);
  --color-text-muted: theme(--color-slate-500);

  --color-border-main: theme(--color-slate-200);

  --color-gray-light: theme(--color-gray-400);
  --color-gray-hard: theme(--color-gray-600);
  --color-bg-light: theme(--color-gray-50);

  --color-dark-yellow: theme(--color-yellow-800);
  --color-base-orange: theme(--color-amber-500);

  --color-light-orange: theme(--color-amber-100);

  --color-light-red: theme(--color-red-600);
  --color-border-red: theme(--color-red-700);
  --color-white-hover: theme(--color-gray-200);
  --color-red-hover: theme(--color-red-500);
}

@layer base {
  html {
    /* scroll-behavior: smooth; */
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font-sans);
    color: var(--color-text-main);
    background-color: var(--color-app-bg);
  }

  /* Chỉ bật cuộn mượt khi người dùng tương tác cuộn tới #anchor */
  :focus-within, html:has(:target) {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
  }
}

@layer components {
  /* input không có nút chọn Cho Chrome, Safari, Edge và Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* input không có nút chọn Cho Firefox */
  input[type="number"] {
    appearance: none; /* Dùng appearance chuẩn với giá trị none */
  }
}
